---
import Layout from "../layouts/Layout.astro";
---

<Layout title="my projects">
  <main class="grid grid-cols-12 grid-rows-12 h-screen mt-1 gap-4 w-[900px]">
    <picture class="col-span-8 row-span-10">
      <img class="" src="/spotify.png" alt="image of project spotify clone" />
    </picture>
    <div class="col-span-4 row-span-7 border-2">
      <p class="text-center">Proyecto Spotify Clone</p>
    </div>
  </main>
</Layout>
