---
import Layout from "../layouts/Layout.astro";
import { PROJECTS } from "../utils/constants";

const firstProject = PROJECTS[0];
---

<Layout title="proyectos">
  <main class="grid h-screen mt-1 gap-2 w-[900px]">
    <>
      <section class="grid place-content-center">
        <p
          class="text-4xl bg-clip-text text-transparent bg-gradient-to-r from-white/70 from-10% to-green-600"
        >
          {firstProject.name}
        </p>
      </section>
      <section class="p-2 flex flex-col gap-4">
        {
          firstProject.descriptions.map((description) => (
            <p class="text-base">{description.paragraph}</p>
          ))
        }
      </section>
      <picture class="group">
        <img
          class=""
          src={firstProject.image.src}
          alt={firstProject.image.alt}
        />
      </picture>
    </>
  </main>
</Layout>
