---
import GoToIcon from "./icons/GoTo.astro";
---

<a
  href="https://github.com/GuarU345"
  target="_blank"
  class="col-span-6 h-[200px] border-2 p-4 hover:scale-105"
>
  <div class="flex justify-between">
    <img class="w-14 h-14" src="/github.png" alt="github icon" />
    <GoToIcon />
  </div>
  <p class="text-center text-4xl">GuarU345</p>
</a>

<style></style>
