<section
  class="col-span-4 row-span-5 flex flex-col border-2 justify-center items-center rounded-md"
>
  <p class="text-xl text-center">"SI PUEDES IMAGINARLO, PUEDES CREARLO"</p>
  <p>Walt Disney</p>
</section>
