<section
  class="col-span-7 row-span-2 flex flex-col justify-center items-center rounded-md bg-gradient-to-tr from-cyan-500 to-blue-500"
>
  <p class="text-xl">SI PUEDES IMAGINARLO, PUEDES CREARLO</p>
</section>
