<section
  class="col-span-6 lg:col-span-4 lg:row-span-2 flex flex-col border-2 border-transparent justify-center items-center rounded-xl bg-zinc-800"
>
  <p class="text-xl text-center font-bold">
    "SI PUEDES IMAGINARLO, PUEDES CREARLO"
  </p>
  <p class="text-gray-400">Walt Disney</p>
</section>
