---
import GoToIcon from "./icons/GoTo.astro";
import LinkedIcon from "./icons/LinkedIcon.astro";
---

<a
  href="https://www.linkedin.com/in/abel-omar-dominguez-martinez-083264256/"
  target="_blank"
  class="col-span-6 h-[200px] border-2 p-4 hover:scale-105"
>
  <div class="flex justify-end">
    <GoToIcon />
  </div>
  <div class="grid place-content-center">
    <LinkedIcon />
  </div>
</a>
