---
import SocialPill from "./SocialPill.astro";
import LinkedIcon from "./icons/LinkedIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
---

<section
  class="col-span-8 row-span-4 border-2 p-4 border-transparent flex items-end rounded-xl"
>
  <div class="flex flex-col gap-y-2">
    <p class="text-pretty text-2xl font-bold">Abel Omar Domínguez Martínez</p>
    <p class="text-xl">Desarrollador Full Stack</p>
    <div class="flex gap-x-4">
      <SocialPill
        href="https://www.linkedin.com/in/abel-omar-dominguez-martinez-083264256/"
      >
        <LinkedIcon class="size-4 md:size-6" />
        LinkedIn
      </SocialPill>
      <SocialPill href="https://github.com/GuarU345">
        <GithubIcon class="size-4 md:size-6" />
        Github
      </SocialPill>
    </div>
  </div>
</section>

<style>
  section {
    background-image: url("/yo_2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>
