<section
  class="col-span-7 row-span-4 flex flex-col justify-center rounded-md bg-gradient-to-tr from-cyan-500 to-blue-500"
>
  <div class="px-4 py-2 flex flex-col gap-1">
    <img class="w-16 h-16 rounded-full" src="yo.jpg" alt="dev guaru345 photo" />
    <p class="text-balance text-xl">
      Hola, mi nombre es Abel Omar y soy Desarrollador Full Stack, desde hace
      mas de 2 años me he dedicado a innovar y crear soluciones perfectas para
      obtener los mejores resultados.
    </p>
  </div>
</section>
