---
import { PROJECTS } from "../utils/constants";

const firstProject = PROJECTS[0];
---

<section
  class="grid place-content-center px-2 py-4 border-2 border-transparent rounded-xl bg-zinc-900"
>
  <p
    class="text-3xl bg-clip-text text-transparent bg-gradient-to-r from-white/70 from-10% to-green-600"
  >
    {firstProject.name}
  </p>

  <picture class="mt-2">
    <img
      class="w-[700px] h-[400px]"
      src={firstProject.image.src}
      alt={firstProject.image.alt}
    />
  </picture>
</section>
