<section
  class="col-span-12 row-span-1 grid place-content-center bg-gradient-to-tr from-zinc-500 to-zinc-800"
>
  <h3 class="text-2xl">Projects</h3>
</section>
<section
  class="col-span-5 bg-gradient-to-tr p-6 row-span-3 from-cyan-500 to-blue-500 rounded-md"
>
  <div class="flex justify-center">
    <img
      class="rounded-md h-[120px]"
      src="todo-list.png"
      alt="image of project todo-list"
    />
  </div>
</section>
<section
  class="col-span-7 row-span-6 p-6 bg-gradient-to-tr from-cyan-500 to-blue-500 rounded-md"
>
  <img
    class="rounded-md"
    src="spotify.png"
    alt="image of project spotify clone"
  />
</section>
<section
  class="col-span-5 bg-gradient-to-tr p-6 row-span-3 from-cyan-500 to-blue-500 rounded-md"
>
  <div class="flex justify-center">
    <img
      class="rounded-md h-[120px]"
      src="pokedex.png"
      alt="image of project pokedex"
    />
  </div>
</section>
