---

---

<section
  class="grid place-content-center col-span-12 row-span-2 border-2 rounded-md"
>
  <div class="flex justify-center items-center">
    <a href="/projects"><p>Ver Proyectos</p></a>
  </div>
</section>

<style></style>
