---
import SocialIcon from "./SocialIcon.astro";
import OutlookIcon from "./icons/Outlook.astro";
---

<section
  class="col-span-5 row-span-1 flex gap-2 items-center justify-center text-center text-2xl bg-gradient-to-r from-cyan-500 to-blue-500 rounded-md"
>
  <SocialIcon
    href="https://github.com/GuarU345"
    src="github.svg"
    alt="github"
  />
  <SocialIcon src="email.svg" alt="email" href="mailto:abelmtz34@outlook.com" />
</section>
