---
import TechIcon from "./TechIcon.astro";
---

<section
  class="col-span-4 row-span-2 grid place-content-center rounded-xl border-2 border-transparent bg-zinc-800"
>
  <div class="grid place-content-center grid-cols-4 p-4 gap-4 lg:gap-y-10">
    <TechIcon
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
      alt="html5"
    />
    <TechIcon
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
      alt="css"
    />
    <TechIcon
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
      alt="javascript"
    />
    <TechIcon
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"
      alt="typescript"
    />
    <TechIcon
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
      alt="react"
    />
    <TechIcon
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg"
      alt="tailwindcss"
    />
    <TechIcon
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
      alt="nodejs"
    />
    <TechIcon
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg"
      alt="express"
    />
    <TechIcon
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"
      alt="python"
    />
    <TechIcon
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg"
      alt="sql"
    />
    <TechIcon
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg"
      alt="mongodb"
    />
    <TechIcon
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"
      alt="git"
    />
  </div>
</section>
