---
import TechIcon from "./TechIcon.astro";
---

<section
  class="col-span-5 row-span-4 bg-gradient-to-tr from-cyan-500 to-blue-500 rounded-md"
>
  <h3 class="text-center text-lg">Tecnologias que uso</h3>
  <div class="flex p-4 flex-wrap items-center mt-4 justify-center gap-8">
    <TechIcon
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
      alt="html5"
    />
    <TechIcon
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
      alt="css"
    />
    <TechIcon
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
      alt="javascript"
    />
    <TechIcon
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"
      alt="typescript"
    />
    <TechIcon
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
      alt="react"
    />
    <TechIcon
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg"
      alt="tailwindcss"
    />
    <TechIcon
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
      alt="nodejs"
    />
    <TechIcon
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original-wordmark.svg"
      alt="express"
    />
    <TechIcon
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"
      alt="python"
    />
    <TechIcon
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg"
      alt="sql"
    />
    <TechIcon
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg"
      alt="mongodb"
    />
    <TechIcon
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"
      alt="git"
    />
  </div>
</section>
